[user]
  name = Oscar Wennergren
  email = oscar@wennergren.se

[alias]
  a = add --all
  c = commit
  st = status
  co = checkout
  up = pull --rebase=preserve
  g = grep --break --heading --line-number
  fa = fetch --all
  p = push
  pf = push -f
  # the acronym stands for "subtree add"
  sba = "!f() { git subtree add --prefix $2 $1 master --squash; }; f"
  #         # the acronym stands for "subtree update"
  sbu = "!f() { git subtree pull --prefix $2 $1 master --squash; }; f"

[color]
  diff = auto
  status = auto
  branch = auto
	ui = true
[push]
  default = simple
[merge]
  tool = vimdiff
[mergetool]
  keepBackup = false
[gui]
  fontui = -family Hack -size 14 -weight normal -slant roman -underline 0 -overstrike 0
  fontdiff = -family Hack -size 14 -weight normal -slant roman -underline 0 -overstrike 0
[credential]
	helper = osxkeychain
