!    ██     ██
!   ░░██   ██
!    ░░██ ██   ██████ █████   ██████  ██████  ██   ██ ██████ █████   █████   ██████
!     ░░███   ░░██░░███░░░██ ██░░░░  ██░░░░██░██  ░██░░██░░███░░░██ ██░░░██ ██░░░░
!      ██░██   ░██ ░░███████░░█████ ░██   ░██░██  ░██ ░██ ░░██  ░░ ░███████░░█████
!     ██ ░░██  ░██  ░██░░░░  ░░░░░██░██   ░██░██  ░██ ░██  ░██   ██░██░░░░  ░░░░░██
!    ██   ░░██░███  ░░██████ ██████ ░░██████ ░░██████░███  ░░█████ ░░██████ ██████
!   ░░     ░░ ░░░    ░░░░░░ ░░░░░░   ░░░░░░   ░░░░░░ ░░░    ░░░░░   ░░░░░░ ░░░░░░

#include </home/oscar/.colors/blaquemagick.Xcolors>

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

! rofi
rofi.modi: run
rofi.font: Hack 12
rofi.width: 40
rofi.lines: 5
rofi.columns: 1
rofi.opacity: 80
!                    bg       fg      altbg    hlbg     hlfg
rofi.color-normal: #282828, #ebdbb2, #282828, #ebdbb2, #282828
rofi.color-urgent: #282828, #ebdbb2, #282828, #ebdbb2, #282828
rofi.color-active: #282828, #ebdbb2, #282828, #ebdbb2, #282828
rofi.color-window: #282828, #ebdbb2
rofi.bw: 1
rofi.hide-scrollbar: true
rofi.terminal: termite
rofi.padding: 5
rofi.fuzzy: false

!######################
! URxvt configuration
!######################

URxvt.font: 		    xft:Hack:style=Regular:size=12
URxvt.boldFont:		    xft:Hack:style=Bold:size=12
URxvt.scrollBar: 	    false
URxvt.cursorUnderline:	true
URxvt.cursorBlink:	    true
URxvt.termName:         rxvt-256color
!URxvt.perl-ext-common: default,matcher,clipboard
!URxvt.url-launcher:    firefox
!URxvt.matcher.button:  1
!URxvt.internalBorder:  16
!URxvt.lineSpace:       1
!URxvt.keysym.C-C:   perl:clipboard:copy
!URxvt.keysym.C-V:   perl:clipboard:paste
!URxvt.keysym.C-A-V: perl:clipboard:paste_escaped
!URxvt.clipboard.copycmd:  xsel -ib
!URxvt.clipboard.pastecmd: xsel -ob
!URxvt.iso14755:   false

urxvt*boldFont:
urxvt*italicFont:
urxvt*bolditalicFont:

urxvt*letterSpace: 0
urxvt*lineSpace: -1

! █▓▒░ interface
urxvt*scrollBar: false
urxvt*transparent: false
!urxvt*shading: 38

! █▓▒░ clipboard
urxvt.perl-ext-common: default,clipboard,keyboard-select
urxvt.keysym.M-Escape: perl:keyboard-select:activate
urxvt.keysym.M-c:   perl:clipboard:copy
urxvt.keysym.C-v:   perl:clipboard:paste
urxvt.keysym.M-C-v: perl:clipboard:paste_escaped
urxvt.clipboard.copycmd:  xsel -ib
urxvt.clipboard.pastecmd: xsel -ob

! █▓▒░ misc
urxvt.saveLines: 9999
urxvt.iso14755: false
!URxvt*altSendsEscape: true
